RPC_URL=https://strataclient1ff4bc1df.devnet-annapurna.stratabtc.org
BUNDLER_URL=https://bundler.devnet-annapurna.stratabtc.org/health
USER_OPS_QUERY_URL=http://localhost/api/v2/proxy/account-abstraction/operations
ACCOUNTS_QUERY_URL=http://localhost/api/v2/proxy/account-abstraction/accounts
ACTIVITY_STATS_REFETCH_INTERVAL_S=120
ACTIVITY_QUERY_PAGE_SIZE=100
