.bridge-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: white;
}

.bridge-title {
  margin-bottom: 50px;
  text-align: left;
  font-weight: bold;
  color: black;
}

.bridge-section {
  max-width: 100%;
  overflow-x: visible;
  padding-right: 0;
  padding-left: 40px;
  color: black;
}

.table-wrapper {
  margin-top: 20px;
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;
}

.operators-table,
.transactions-table {
  min-width: 768px;
  width: auto;
  border-collapse: collapse;
}

.operator-status.online {
  color: green;
}

.operator-status.offline {
  color: red;
}

.transactions-header th,
.operators-row td,
.transactions-row td {
  text-align: left;
  padding: 12px 24px;
}

.operators-row td:first-child,
.transactions-row td:first-child,
.transactions-header th:first-child {
  text-align: left;
  padding-left: 0;
}

.operators-row td:last-child,
.transactions-row td:last-child,
.transactions-header th:last-child {
  text-align: right;
}

.operators-row td:not(:first-child):not(:last-child),
.transactions-row td:not(:first-child):not(:last-child),
.transactions-header th:not(:first-child):not(:last-child) {
  text-align: center;
}

.operators-row:not(:last-child),
.transactions-row:not(:last-child),
.transactions-header th {
  border-bottom: 1px solid #ECECEC;
}

.operators-row:not(:last-child),
.transactions-header th,
.transactions-row:not(:last-child) {
  border-bottom: 1px solid #ECECEC;
}

.table-cell {
  text-align: center;
}

.no-items {
  font-style: italic;
  color: gray;
}

@media screen and (min-width: 769px) {
  .table-wrapper {
    overflow-x: visible;
  }
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    display: block;
  }

  .bridge-section {
    margin: 1rem 0;
  }

  .operators-table,
  .transactions-table {
    min-width: 600px;
  }

  .transactions-header th,
  .transactions-row td,
  .operators-row td {
    padding: 8px;
    font-size: 14px;
  }
}
