.usage-cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 8px;
}

.usage-section {
    justify-content: space-between;
    margin: 0 20px;
    padding: 10px 10px;
    width: 33%;
}

.tab-container {
    margin-bottom: 8px;
}

.usage-title {
    margin: 0 1rem;
    color: black;
    font-weight: bold;
}

.usage-tab {
    cursor: pointer;
    padding: 10px 10px;
    color: black;
    background-color: transparent;
}

.usage-tab-active {
    text-decoration: underline;
}

.stat-value {
    padding: 2rem 10px;
    margin: 0.5rem auto;
    border: 0.5px solid rgba(113, 128, 150, 1);
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

.accounts-section {
    justify-content: space-between;
    margin: 0 20px;
    padding: 50px 10px;
    width: 50%;
}

.account-list {
    list-style: none;
    padding: 0;
}

.account-item {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.account-detail {
    font-size: 14px;
    color: gray;
}

.no-accounts {
    font-style: italic;
    color: gray;
}

@media screen and (max-width: 768px) {
    .usage-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .usage-section {
        flex: 1 1 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
    }
}
