# Ignore build artifacts
/target/
**/target/

# Ignore Cargo.lock file if you are building a library (optional, recommended to keep for binaries)
#Cargo.lock

# Ignore dependencies from Cargo
/.cargo/

# Ignore IntelliJ Rust, CLion and other IDE files
.idea/
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Rust backup files
*.rs.bk

# Ignore the build output from `cargo run` (debug and release directories)
/debug/
**/debug/
**/release/

# Ignore any config files related to local builds, e.g., `cargo` config, etc.
/cargo-config.toml


.vscode/*

batches_db

.env